.widget-clock{
  .blue-light {

    .clock-face {
      stroke: #153b6f;
      fill: #0e2434;
    }
    .minor {
      stroke: #0089ff;
      stroke-width: 0.5;
    }
    .major {
      stroke: rgba(119, 176, 242, 0.97);
      stroke-width: 0.5;
    }
    .hour {
      stroke: rgba(119, 176, 242, 0.97);
      stroke-width: 1;
    }
    .minute {
      stroke: #0089ff;
      stroke-width: 0.75;
    }
    .second,
    .second-counterweight {
      stroke: rgb(234, 31, 54);
      stroke-width: 0.5;
    }
    .second-counterweight {
      stroke-width: 1.5;
    }
  }
}
.month-selector > *{
  float:left;
  clear:both;
}